@charset "UTF-8";
/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

sup { font-size: 12px; font-family: "HK Grotesk", "Helvetica", "Arial", serif; weight: 700; }

button { background: #000; padding: 10px 30px; border-radius: 30px; border: 1px solid #ff009c; color: #ff009c; font-family: "Duospace", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 15px; font-weight: bold; text-transform: uppercase; transition: all .3s ease; margin-bottom: 15px; }

button:hover { cursor: pointer; background: #ff009c; color: #000; }

#tab_active { cursor: pointer; background: #ff009c; color: #000; }

/** Basic styling */
body { font: normal 15px/1.5 "Duospace", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #fff; background-color: #000; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 30px; }

/** `main` element */
main { display: block; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 15px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { color: #ff009c; font-family: "HK Grotesk", "Helvetica", "Arial", serif; font-weight: 400; }

/** Links */
a { color: #ff66aa; text-decoration: none; }

a:visited { color: #ff66aa; }

a:hover { color: #fff; text-decoration: underline; }

.social-media-list a:hover { text-decoration: none; }

.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { font-size: 19.5px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 14.0625px; border: 1px solid #fff5ec; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(1140px - (30px * 2)); max-width: calc(1140px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 1200px) { .wrapper { max-width: -webkit-calc(1140px - (30px)); max-width: calc(1140px - (30px)); padding-right: 20px; padding-left: 20px; } }

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: peachpuff; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #7c3a00; border-collapse: collapse; border: 1px solid #fff5ec; }

table tr:nth-child(even) { background-color: white; }

table th, table td { padding: 10px 15px; }

table th { background-color: #fffdfb; border: 1px solid #ffead8; border-bottom-color: #ffd5af; }

table td { border: 1px solid #fff5ec; }

/** navigation
*
*/
#nav { color: #ff009c; z-index: 9999; position: sticky; height: 41px; width: 100%; top: 0; padding: 15px 0; border-top: 1px solid #ff009c; }

#nav button { font-size: 16.5px; font-family: "HK Grotesk", "Helvetica", "Arial", serif; text-transform: none; }

#nav #home { background: #ff009c; color: #000; border-color: #ff009c; }

#nav #polisocial { float: right; }

/** Site header */
.site-title { font-size: 24.375px; font-weight: 300; line-height: 50.625px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #ffbf86; }

.site-nav { float: right; line-height: 50.625px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #fff; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 768px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #000; border: 1px solid #ffbf86; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #ffbf86; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** About */
#methodology { display: grid; grid-template-columns: repeat(6, 16.7%); border-top: 1px solid #ffbf86; border-bottom: 1px solid #ffbf86; }

#methodology .page-heading { grid-column: 1 / 3; padding-top: 30px; margin-right: 30px; border-right: 1px solid #ffbf86; }

@media screen and (max-width: 1200px) { #methodology .page-heading { grid-column: 1 / span 6; margin-right: 0; padding-bottom: 30px; border-right: none; border-bottom: 1px solid #ffbf86; } }

#methodology .methodology--content { font-size: 15px; grid-column: 3 / 7; margin: 45px 0; }

@media screen and (max-width: 1200px) { #methodology .methodology--content { grid-column: 1 / span 6; } }

#methodology .partners { grid-column: 1 / 7; }

.partners { display: grid; grid-template-columns: repeat(3, 33%); grid-template-rows: 1fr; margin: 60px 0; }

.partners h2 { font-size: 18px; font-weight: 700; text-transform: uppercase; grid-column: 1 / 1; grid-row: span 4; }

@media screen and (max-width: 1200px) { .partners .logos { grid-column: span 1; } }

.partners .departments { grid-column: 2 / span 2; }

@media screen and (max-width: 1200px) { .partners .departments { grid-column: 1 / span 3; } }

.partners .departments h3 { font-size: 19.5px; padding-top: 12px; border-top: 1px solid #ffbf86; color: #fff; }

.partners div { grid-column: span 1; margin-bottom: 30px; }

@media screen and (max-width: 1200px) { .partners div { grid-column: 1 / span 3; } }

.partners div p { margin: 0; }

.partners img { width: auto; max-height: 90px; }

/** Site footer */
.site-footer { padding: 30px 0; }

.footer-heading { font-size: 16.875px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 14.0625px; color: #fff; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 1200px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 768px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Page content */
.page-content { padding: 30px 0; flex: 1; }

.page-heading { font-size: 30px; }

.post-list-heading { font-size: 26.25px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 15px; color: peachpuff; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 60px; line-height: 1.1; color: #fff; font-weight: 700; margin-top: 45px; margin-bottom: 60px; width: 80%; }

@media screen and (max-width: 1200px) { .post-title { width: 100%; font-size: 46.5px; } }

.post-content { display: grid; grid-template-columns: repeat(6, 16.7%); grid-template-rows: 1fr; border-top: 1px solid #ffbf86; border-bottom: 1px solid #ffbf86; margin-bottom: 30px; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4 { text-transform: uppercase; font-weight: 700; margin-bottom: 15px; margin-top: 30px; }

.post-content aside { padding: 30px 0; grid-column: 1 / 3; grid-row: 1 / span 1000; padding-right: 30px; margin-right: 30px; border-right: 1px solid #ffbf86; }

@media screen and (max-width: 1200px) { .post-content aside { grid-column: 1 / 7; grid-row: 1 / 1; margin-right: 0; border-right: 0; border-bottom: 1px solid #ffbf86; } }

.post-content aside h4 { margin-top: 0; margin-bottom: 12px; font-weight: 700; text-transform: uppercase; font-size: 15px; }

.post-content aside p { color: #fff; font-family: "HK Grotesk", "Helvetica", "Arial", serif; font-size: 15px; }

.post-content .main-post-content { grid-column: 3 / 7; padding-top: 30px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content { grid-column: 1 / 7; } }

.post-content .main-post-content p { margin-bottom: 60px; }

.post-content .main-post-content blockquote { font-size: 15px; }

.post-content .main-post-content h2 { font-size: 19.5px; margin-top: 0; margin-bottom: 30px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h2 { font-size: 21px; } }

.post-content .main-post-content h3 { font-size: 19.5px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h3 { font-size: 20.625px; } }

.post-content .main-post-content h4 { font-size: 18.75px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h4 { font-size: 16.875px; } }

.post-content .main-post-content p { font-size: 15px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content p { font-size: 15px; } }

.post-content .main-post-content blockquote p { font-size: 18px; line-height: 1.2; }

.post-content .main-post-content blockquote p em { color: #ff009c; }

.post-content .main-post-content .footnotes { grid-column: 1 / 4; margin-bottom: 0; }

.post-content .main-post-content .footnotes * { font-size: 12px; color: #ff1a80; }

.post-content .main-post-content .footnotes p { color: #ff009c; }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

#cover { background: url("images/cover.jpg") no-repeat center; background-size: 100%; background-repeat: no-repeat; background-position: center; width: 100vw; height: 100vh; position: relative; left: calc(-50vw + 50%); top: -105px; display: flex; align-items: center; justify-content: center; vertical-align: middle; flex-wrap: wrap; color: #FFFFFF; }

#cover .post-title { text-align: center; font-size: 90px; -webkit-text-stroke-color: #ff009c; -webkit-text-stroke-width: 1px; color: #ff66aa; font-weight: 700; width: 90%; margin: auto; }

#cover h2 { font-size: 30px; width: 95%; text-align: center; margin: auto; color: #fff; line-height: 1.1; text-shadow: 0 0 2px #000; }

#cover .description { width: 1140px; margin: auto; padding: 0 60px; font-size: 21px; color: #ff009c; }

#cover .description blockquote { font-size: 21px; }

#partners { margin-bottom: 60px; }

.home blockquote p { margin-bottom: 15px; }

.home blockquote em { color: #ff009c; }

#index { margin-top: 60px; }

.post-list { width: 100%; flex-wrap: wrap; margin: auto; }

.post-list > li:first-child { border-top: 1px solid #ffbf86; }

.post-list > li { display: flex; padding: 20px 0; background-position: center; background-size: 50%; background-repeat: no-repeat; margin-bottom: 0; border-bottom: 1px solid #ffbf86; font-size: 16.5px; }

@media screen and (max-width: 768px) { .post-list > li { padding: 15px 0; display: block; } }

.post-list > li > * { width: 50%; margin-bottom: 0; }

@media screen and (max-width: 768px) { .post-list > li > * { width: 100%; } }

.post-list > li::after { content: "⟶"; }

.home-content blockquote p { column-count: 1; margin-bottom: 60px; }

.home-content p { column-count: 2; column-gap: 30px; margin-bottom: 60px; }

@media screen and (max-width: 768px) { .home-content p { column-count: 1; } }

.question__visualization { grid-column: 1 / 5; border-top: 1px solid #ffbf86; margin-top: 60px; padding: 30px 0; }

.post-content > blockquote { font-size: 30px; color: #ff009c; }

.minified li { font-size: 13.5px; padding: 7.5px 0; }

.footnotes { margin-top: 60px; margin-bottom: 120px; }

.footnotes *, .footnotes p { font-size: 13.5px; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Bold.woff2") format("woff2"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Regular.woff2") format("woff2"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Italic.woff2") format("woff2"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'HK Grotesk'; src: url("./fonts/HKGrotesk-Regular.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: 'HK Grotesk'; src: url("./fonts/HKGrotesk-Bold.woff2") format("woff2"); font-weight: 700; }

/*# sourceMappingURL=main.css.map */